.fromRegistrationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inputFormRegistrationContainer {
  border-radius: 10px;
  width: 75%;
  margin-top: 20px;
  margin-bottom: auto;
  padding: 50px 100px 50px 100px;
  background-color: rgba(8, 12, 18, 0.75);
  box-shadow: 5px 13px 50px 6px rgba(234, 244, 241, 0.8);
}
.titleFormRegistration {
  margin-bottom: 20px;
  text-align: center;
}

.inputRegistration {
  padding: 20px;
  width: 100%;
  margin: 5px 0 5px 0;
  border: none;
  background-color: #ccf0e8;
  border-radius: 4px;
  opacity: 0.7;
  cursor: pointer;
}
.inputTwoColumns {
  display: flex;
}
.registrationRedirection {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.registrationRedirectionLink:hover {
  font-size: 18px;
}
.registrationRedirectionLink {
  margin-top: 5px;
  color: #e4a619;
  text-decoration: none;
}

.inputRegistration[name="firstName"] {
  margin-left: 10px;
}
.inputRegistration[type="tel"] {
  margin-left: 10px;
}
.inputRegistration[type="submit"] {
  font-weight: bold;
  font-size: 18px;
  color: #e4a619;
}
.inputRegistration[type="submit"]:hover {
  background-color: rgb(66, 58, 93);
  color: #ccf0e8;
  transition: all 0.5s ease-out;
}
/*************
  Medias Queries
  **************/

@media screen and (max-width: 500px) {
  .fromRegistrationContainer {
    margin-top: 0px;
  }
  .inputFormRegistrationContainer {
    padding: 50px 10px 50px 10px;
    margin-top: 10px;
  }

  .titleFormRegistration {
    margin-bottom: 20px;
  }
  .registrationRedirection {
    margin-top: 15px;
  }
  .registrationRedirectionLink {
    margin-top: 0px;
  }
}
