.bagckroundLogin {
  background-image: url("../../assets/images/background.jpg");
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #080c12;
}

/*************
      Medias Queries
      **************/
@media (max-width: 500px) {
  .background {
    background-size: auto 100vh;
    background-position: center;
  }
}
