.loginFomContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inputFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  margin-top: 100px;
  padding: 50px 100px 50px 100px;
  background-color: rgba(8, 12, 18, 0.75);
  box-shadow: 5px 13px 50px 6px rgba(234, 244, 241, 0.8);
}

.titleForm {
  margin-bottom: 50px;
}
.loginInput {
  padding: 20px;
  width: 300px;
  margin: 6px;
  border: none;
  background-color: #ccf0e8;
  border-radius: 4px;
  opacity: 0.7;
  cursor: pointer;
}
.loginRedirection {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loginRedirectionLink:hover {
  font-size: 18px;
}
.loginRedirectionLink {
  margin-top: 10px;
  color: #e4a619;
  text-decoration: none;
}
.loginInput[type="submit"] {
  font-weight: bold;
  font-size: 18px;
  color: #e4a619;
}
.loginInput[type="submit"]:hover {
  background-color: rgb(66, 58, 93);
  color: #ccf0e8;
  transition: all 0.5s ease-out;
}
/*************
Medias Queries
**************/
@media screen and (max-width: 750px) {
  .inputFormContainer {
    padding: 25px 50px 25px 50px;
  }
}
@media screen and (max-width: 450px) {
  .inputFormContainer {
    padding: 10px 25px 10px 25px;
    margin-top: 200px;
  }
  .loginInput {
    width: 250px;
    font-size: 11px;
    padding: 15px;
  }
  .titleForm {
    margin-bottom: 20px;
  }
  .loginRedirection {
    margin-top: 15px;
  }
  .loginRedirectionLink {
    margin-top: 5px;
  }
}
/* 
Height */

@media screen and (max-height: 700px) {
  .inputFormContainer {
    margin-top: 120px;
    padding: 10px 25px 10px 25px;
  }
  .loginInput {
    width: 250px;
    font-size: 11px;
    padding: 15px;
  }
  .titleForm {
    margin-bottom: 20px;
  }
  .loginRedirection {
    margin-top: 15px;
  }
  .loginRedirectionLink {
    margin-top: 5px;
  }
}
@media screen and (max-height: 580px) {
  .inputFormContainer {
    margin-top: 100px;
  }
}
@media screen and (max-height: 500px) {
  .inputFormContainer {
    margin-top: 30px;
  }
}
