.tableCartHeader {
  padding-bottom: 20px;
  color: #e4a619;
  font-weight: bold;
  font-size: 21px;
  text-align: end;
}
.cartTitle {
  text-align: center;
  margin-top: 40px;
}
.tableCart {
  padding: 5%;
  background-color: rgba(245, 249, 255, 0.35);
  box-shadow: 5px 13px 50px 6px rgba(66, 58, 93, 0.9);
  margin: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.containerItemCartProduct {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.itemCartProduct {
  letter-spacing: 1px;
  text-align: end;
}

.quantityCartInput {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.totalCartContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.totalPrice {
  color: #e4a619;
  text-decoration: none;
  font-weight: bold;
}
.btnCart {
  background-color: #e4a619;
  color: aliceblue;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  cursor: pointer;
}

.cartTitleNull {
  height: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconCartProduct {
  cursor: pointer;
}

@media (max-width: 700px) {
  table td {
    font-size: 10px;
  }
  table th {
    font-size: 11px;
  }
  .cartTitle {
    text-align: center;
    font-size: 18px;
  }
  .totalPrice {
    font-size: 14px;
  }
}
