*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");

li,
h1,
h2,
h3 {
  font-family: "Michroma", sans-serif;
  color: #e4a619;
  letter-spacing: 2px;
  word-spacing: 5px;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #f9fdfb;
  background: rgb(10, 13, 18);
  background: linear-gradient(
    189deg,
    rgba(10, 13, 18, 1) 0%,
    rgba(3, 90, 115, 1) 100%
  );
}
