.cardProductContrainer {
  width: 259px;
  height: 100%;
  background-color: #f9fdfb;
  border-radius: 5px;
  padding-bottom: 10px;
  margin: 20px;
  box-shadow: 5px 13px 50px 6px rgba(4, 149, 163, 0.75);
}
.quantityLabel {
  color: #0a0d12;
  font-size: 14px;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
}

.inputQuantity {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.inputCardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  flex-direction: column;
}
.priceCard {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  color: #0a0d12;
  margin-bottom: 10px;
}
.titleCard {
  margin-bottom: 20px;
  text-align: center;
  font-family: "Michroma", sans-serif;
  color: #e4a619;
  letter-spacing: 2px;
}

.cardDescription p {
  color: #0a0d12;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-bottom: 10px;
}
.submitProductCard {
  width: 60%;
  color: #f9fdfb;
  background-color: #e4a619;
  cursor: pointer;
  border: none;
  padding: 4px;
  border-radius: 5px;
}
.submitProductCard:hover {
  background-color: rgb(66, 58, 93);
  color: #ccf0e8;
  transition: all 0.7s ease-out;
}
.removeProductCard:hover {
  background-color: #9b2226;
  color: #ccf0e8;
  transition: all 0.7s ease-out;
}
.removeProductCard {
  margin-top: 2px;
  width: 60%;
  color: #f9fdfb;
  background-color: rgb(66, 58, 93);
  cursor: pointer;
  border: none;
  padding: 4px;
  border-radius: 5px;
}
.selectProductCard {
  width: 40%;
}

.imageCardProduct {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}
.addingInfo {
  color: rgb(66, 58, 93);
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}
.errorMessageProductRemove {
  color: #66bb6a;
}
