.titltePresentation {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
  color: #e4a619;
}

.textPresBlock {
  text-align: center;
  font-size: 20px;
  color: #eaf4f1;
  letter-spacing: 2px;
  line-height: 35px;
  margin: 10px 100px 10px 100px;
}
/***** Grid *****/

.presBlock {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.firstPresBlock {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.secondPresBlock {
  grid-column: 2/2;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.thirdPresBlock {
  grid-column: 1/2;
  grid-row: 3/3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.firstImgPresBlock {
  background-image: url("../../assets/images/image1.jpg");
  margin: 15px;
  grid-column: 1/2;
  grid-row: 2/3;
}
.secondImgPresBlock {
  background-image: url("../../assets/images/image3.jpg");
  grid-column: 2/2;
  grid-row: 1/2;
  margin: 15px;
}
.thirdImgPresBlock {
  background-image: url("../../assets/images/image2.jpg");
  grid-column: 2/2;
  grid-row: 3/3;
  margin: 15px;
}

.imgPresBlock {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  margin: 10px 50px 10px 50px;
  height: 400px;
  box-shadow: 5px 13px 50px 6px rgba(101, 74, 140, 0.75);
}

/* 
Transition Background */

.transitionBackground {
  background-image: url("../../assets/images/transition.jpg");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 250px;
}

/*************
Medias Queries
**************/

@media screen and (max-width: 750px) {
  .presBlock {
    display: flex;
    flex-direction: column;
  }
  .imgPresBlock {
    height: 200px;
  }
  .transitionBackground {
    height: 200px;
  }
}
@media screen and (max-width: 1200px) {
  .textPresBlock {
    text-align: center;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 17px;
    margin: 10px 50px 10px 50px;
  }
}
