.conatianerSubmitCheckout {
  margin: 10px 0 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.submitCheckout {
  margin-top: 5px;
  font-weight: bold;
  font-size: 18px;
  color: #e4a619;
  background-color: rgba(42, 100, 83, 0.8);
  border: none;
  padding: 10px;
  border-radius: 10px;
  letter-spacing: 1px;
}

.submitCheckout:hover {
  background-color: rgb(66, 58, 93);
  color: #ccf0e8;
  transition: all 0.5s ease-out;
}
/*************
Medias Queries
**************/

@media screen and (max-width: 450px) {
  .checkoutTitle {
    font-size: 20px;
  }
  .cardCheckoutTitle {
    font-size: 12px;
  }
  .labelCardFrom {
    font-size: 11px;
  }
  .submitCheckout {
    font-size: 12px;
  }
}
