.offerBlockTitle {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
}

.offerBlockText {
  text-align: center;
  font-size: 18px;
  letter-spacing: 2px;
  margin: 15px;
}
.offerContainerImage {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 100px 25px 100px;
}

.offerImage:hover {
  width: 450px;
}
.offerImage {
  height: 250px;
  width: 350px;
  object-fit: cover;
  border-radius: 10px;
}

.offerBlockLink {
  color: #e4a619;
  text-decoration: none;
  font-size: 18px;
}
/***** Grid *****/

.offerBlock {
  display: grid;
  grid-template-columns: (3, 1fr);
  grid-template-rows: (2, 1fr);
  background-color: #d2dade;
}
.offerBlockTextContent {
  grid-column: 2/3;
  grid-row: 1/3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.offerBlockItem1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.offerBlockItem2 {
  grid-column: 3/4;
  grid-row: 1/2;
}
.offerBlockItem3 {
  grid-column: 1/2;
  grid-row: 2/3;
}
.offerBlockItem4 {
  grid-column: 3/4;
  grid-row: 2/3;
}

/*************
Medias Queries
**************/

@media screen and (max-width: 1100px) {
  .offerBlock {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 1300px) {
  .offerContainerImage {
    margin: 15px 30px 15px 30px;
  }
}
