.footerContainer {
  background-color: #eaf4f1;
}
.containerFooterIcon {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 25px;
}
.followContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.titleFooter {
  text-align: center;
  font-size: 25px;
  color: #010000;
  padding: 25px;
}
.footerIcon {
  color: #010000;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 40px;
  cursor: pointer;
}
.copyright {
  background-color: #010000;
  text-align: center;
  padding: 20px;
}

/*************
Medias Queries
**************/

@media screen and (max-width: 1000px) {
  .containerFooterIcon {
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .footerIcon {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 30px;
  }
}

@media screen and (max-width: 500px) {
  .titleFooter {
    text-align: center;
    font-size: 18px;
    color: #010000;
    padding: 20px 0 10px 0;
  }
  .containerFooterIcon {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footerIcon {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 25px;
  }
}
